
<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <link rel="shortcut icon" href="http://localhost:3000/images/LAL.png">
  <title>Search Plant</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="external/bootstrap.min.css">
  <script src="http://localhost:3000/external/jquery.min.js"></script>
  <script src="http://localhost:3000/external/bootstrap.min.js"></script>
  <script src="http://localhost:3000/external/angular.min.js"></script>
  <script>
    //Put your scripts here
    var myApp = angular.module('myApp', [])
   
  myApp.controller('SimpleController', ['$scope', '$http', function($scope, $http) {
       $http.get('http://localhost:3000/plant/search-by-name').then(
        function(response) {
          //First function handles success
          $scope.plants = response.data
          $scope.search = function(str){
          	$http.get('http://localhost:3000/plant/search-by-name/'+str).then(
          		function(response){
          			$scope.plants = response.data
          		}
          	)
          }
        },
        function(response) {
          //Second function handles error
          alert('Sorry, Could not find data!')
        }

      )
    }])


  </script>
  <style>
      #homecontainer{
         background-color: #27AE60;
         color: #fff;
         width: 100%;
        height: 120px;
         padding: 10px 20px;
      }
    </style>
</head>
<body>
   <div id = "homecontainer" class="container">
   <a href = "http://localhost:3000/home"><img src="http://localhost:3000/images/LAL.png" alt="LAL Farmland" 
        align = "left" width="90" height="90"><br></a>
      <h3>Search Plant</h3>
    </div><br>
  	<div ng-app="myApp" ng-controller="SimpleController">
      <label>&nbsp &nbsp&nbsp&nbspEnter plant name: </label>
			<input type="text" ng-model="filterKey" ng-init="filterKey=' '"> <button ng-click="search(filterKey)">Search</button><br><br>
      <table class="table">
      <thead>
        <tr>
          <th>Plant number</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Date Added</th>
        </tr>
      </thead>
      <tbody ng-repeat = "x in plants">
        <tr>
          <td>{{x.plantnumber}}</td>
          <td>{{x.plantname}}</td>
          <td>{{x.quantity }}</td>
          <td>{{x.date_added | date}} </td>
        </tr>
		</div>


</body>
</html>
